@media screen and (max-width: 640px) {
    #restaurant-wrapper {
        display: block;
    }

    .restaurant-info {
        width: 100%;
    }

    .restaurant-hours {
        width: 100%;
    }


    #restaurant-wrapper {
        width: calc(100% - 80px)
    }

    #restaurants-list li {
        width: 100%;
    }

    #restaurants-list .view-details {
        width: calc(100% - 60px);
    }

    #map {
        display: none;
    }

    #showMap {
        display: block;
        text-align: center;
        margin: 10px;
        line-height: 30px;
    }

    #showMap button {
        display: block;
        clear: both;
        margin: 5px auto;
    }
}